
WeatherMapDemo/WeatherMapDemo.xcodeproj/project.xcworkspace/xcuserdata/dmitry.fedorov.xcuserdatad/UserInterfaceState.xcuserstate

WeatherMapDemo/Pods/Pods.xcodeproj/xcuserdata/dmitry.fedorov.xcuserdatad/xcschemes/xcschememanagement.plist

WeatherMapDemo/WeatherMapDemo.xcworkspace/xcuserdata/dmitry.fedorov.xcuserdatad/UserInterfaceState.xcuserstate
